@page "/"
@rendermode InteractiveServer
@using StockMatch.Services
@using StockMatch.Models
@inject MasterDataService MasterDataService
@inject UserService UserService
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

    <h1>Welcome</h1>

        <!--
        <a href="/countwip" class="page-button">
            Count WIP
        </a>

        <a href="/countinventory" class="page-button">
            Count Inventory
        </a>
        >-->


    <EditForm Model="selectLocation">
    <div class="page-button-container">

            <div class="action-box @(activeSquare == 1 ? "expanded" : "")">

                <div class="menu-layer">
                    <label class="form-label">Select Storage Location:</label>

                 

                <select class="form-select" @bind="selectLocation.SelectedLocationID">
                    <option value="" disabled selected>-- Choose a Storage Location --</option>

                    @foreach (var location in storageLocationsList)
                    {
                        <option value="@location.StorageLocation">@location.StorageLocation - @location.Description</option>
                    }
                </select>

                    <button type="button"
                            class="btn btn-primary w-100"
                            disabled="@string.IsNullOrEmpty(selectLocation.SelectedLocationID)"
                        @onclick='() => HandleSubmit("countwip")'>
                        OK
                    </button>
                </div>

                <div class="blind-layer" @onclick="() => ToggleSquare(1)">
                    <div class="blind-content">
                        Count WIP
                    </div>
                </div>

            </div>

            <div class="action-box @(activeSquare == 2 ? "expanded" : "")">

                <div class="menu-layer">
                <label class="form-label">Select Storage Location:</label>

                <select class="form-select" @bind="selectLocation.SelectedLocationID">
                    <option value="" disabled selected>-- Choose a Storage Location --</option>

                    @foreach (var location in storageLocationsList)
                    {
                        <option value="@location.StorageLocation">@location.StorageLocation - @location.Description</option>
                    }
                </select>

                <button type="button"
                        class="btn btn-primary w-100"
                            disabled="@string.IsNullOrEmpty(selectLocation.SelectedLocationID)"
                        @onclick='() => HandleSubmit("countinventory")'>
                        OK
                    </button>
                </div>

                <div class="blind-layer" @onclick="() => ToggleSquare(2)">
                    <div class="blind-content">
                        Count Inventory
                    </div>
                </div>

        </div>
    </div>

    </EditForm>

@code {
    private Users? userDetails;
    private int activeSquare = 0;
    private SelectLocation selectLocation = new SelectLocation();
    private List<StorageLocations> storageLocationsList = new List<StorageLocations>();

    protected override async Task OnInitializedAsync()
    {
        userDetails = await UserService.GetCurrentUserDetails();
        if (userDetails.Access == "Admin")
        {
            NavManager.NavigateTo("/admin");
            return;
        }

        storageLocationsList = await MasterDataService.GetAllActiveStorageLocations();
    }

    private void HandleSubmit(string destination)
    {
        NavManager.NavigateTo($"/{destination}?location={selectLocation.SelectedLocationID}");
    }

    private void ToggleSquare(int squareId)
    {
        if (activeSquare == squareId)
        {
            activeSquare = 0;
        }
        else
        {
            activeSquare = squareId;
        }
    }

    public class SelectLocation
    {
        public string SelectedLocationID { get; set; } = string.Empty;
    }
}